<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<variable name="dir" value="${dir}" />
  <variable name="dir2" value="${dir2}" />
  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <target xsi:type="NlogViewer" name="ctrl" />
  <target name="Logger" xsi:type="File" createDirs="true" fileName="${var:dir}/logs/${var:dir2}/Logs.csv"
        layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
 <target name="Console" xsi:type="Console" 
        layout="Time, ${time}, Message, ${message}, Class Name, ${callsite}, ${stacktrace}, LineNumber, ${callsite-linenumber}, ${exception:format=tostring} " />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
  <logger name="Logger" levels="Info,Debug,Error" writeTo="Logger" />
    <logger name="Console" levels="Info,Debug,Error" writeTo="Console" />
  </rules>
</nlog>